<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechBlog</title>
    <link rel="stylesheet" href="../../public/css/jass.css">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header class="navbar">
        <h1>TechBlog</h1>
               <ul class="nav-list">
           <li>
               <a class="link" href="/">Home</a>
           </li>
           <li>
               <a class="link" href="/dashboard">Dashboard</a>
           </li>
           <li>
               {{#if logged_in}}
               <button class="no-button" id="logout">Logout</button>
               <script src ="../../public/js/logout.js"></script>
               {{else}}
               <a class="link" href="/login">Login</a>
               {{/if}}
           </li>
       </ul>
    </header>
    <div class="header-space"></div>

    {{{ body }}}

</body>
</html>