{{#each posts as |post|}}
<article class="container card">
  <div class="card-header flex-row justify-space-between">
    <h3><a class="link" href="/edit/{{post.id}}">{{post.title}}</a></h3>
    <p>Posted on {{format_date post.createdAt}}</p>
  </div>
</article>
{{/each}}

<a class="newpost-btn" href="/newpost">New Post</a>