<div class="container card">
    <div class="card-header">Login existing user</div>
    <form class="card-body form">
        <div class="form-group">
            <label for="name-login">Username:</label>
            <input class="form-input" type="text" id="name-login" />
        </div>
        <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
    <div class="card-footer">
        <a class="text-dark" href="/signup">No account? Sign up here!</a>
    </div>
</div>

<script src="./js/login.js"></script>