<div class="container card">
    <div class="card-header">Login existing user</div>
    <form class="card-body form">       
        <label for="name-login" class="form-label">Username:</label>
        <input class="form-input" type="text" id="name-login" />
        <label for="password-login" class="form-label">Password:</label>
        <input class="form-input" type="password" id="password-login" />
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <div class="card-footer">
        <a class="text-dark" href="/signup">No account? Sign up here!</a>
    </div>
</div>

<script src="../public/js/login.js"></script>