<div class="container card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body" id="newpost-form">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="title" name="post-title" class="form-input" />


        <label class="form-label" for="content">Content</label>
        <textarea id="content" name="content" class="form-input" placeholder="Your text here..."></textarea>

        <button type="submit" class="btn">Post</button>
    </form>
</div>

<script src="../public/js/newpost.js"></script>