<div class="container card">
    <div class="card-header">Create new user</div>
    <form class="card-body form">
        <label for"name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
        <button class="btn btn-primary" type="submit">Sign-up!</button>
    </form>
    <div class="card-footer">
        <a class="text-dark" href="/login">Already have an account? Login here!</a>
    </div>
</div>

<script src="/js/signup.js"></script>